@use "../../scss/variables" as *;

.create-todo {
  padding: $size-400;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--background-list);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}
