/* vars*/
$mq-sm: "400px";
$mq-md: "700px"; /* breakpoint */

$font-family: "Josefin Sans", sans-serif;
$fw-regular: 400;
$fw-bold: 700;

$fs-sm-body: 1rem; /* 18px */
$fs-sm-heading: 28px;

$fs-md-body: 1.125rem; /* 18px */
$fs-md-heading: 30px;

$clr-primary-300: hsl(192, 100%, 67%);
$clr-primary-400: hsl(220, 98%, 61%);
$clr-primary-500: hsl(280, 87%, 65%);

$clr-light-neutral-100: hsl(0, 0%, 98%);
$clr-light-neutral-200: hsl(236, 33%, 92%);
$clr-light-neutral-300: hsl(233, 11%, 84%);
$clr-light-neutral-400: hsl(236, 9%, 61%);
$clr-light-neutral-500: hsl(235, 19%, 35%);

$clr-dark-neutral-100: hsl(236, 33%, 92%);
$clr-dark-neutral-200: hsl(234, 39%, 85%);
$clr-dark-neutral-300: hsl(234, 11%, 52%);
$clr-dark-neutral-400: hsl(233, 14%, 35%); //not used ?
$clr-dark-neutral-500: hsl(237, 14%, 26%);
$clr-dark-neutral-600: hsl(235, 24%, 19%);
$clr-dark-neutral-700: hsl(235, 21%, 11%);

$size-100: 0.575rem;
$size-200: 0.95rem;
$size-300: 1rem;
$size-400: 1.2rem;
$size-500: 1.25rem;
$size-600: 1.5rem;
$size-700: 1.625rem;
$size-800: 2rem;
$size-900: 5rem;

$size-header-desktop: 300px;
$size-header-mobile: 200px;

$border-radius: 0.25rem;