@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import "variables";

/* CSS Reset https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  font-size: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

body {
  font-family: $font-family;
  font-weight: $fw-regular;
  font-size: $fs-sm-body;
  background-repeat: no-repeat;
  background-position: top;

  line-height: 1;

  background-color: $clr-light-neutral-200;
  background-image: url("../public/images/bg-mobile-light.jpg");
  background-size: contain;

  color: $clr-dark-neutral-500;
}

.header {
  padding-block: 2rem;
}

.heading-1 {
  text-transform: uppercase;
  font-size: $fs-sm-heading;
  font-weight: $fw-bold;
  letter-spacing: $size-100;
  color: #fff;
}

@media (min-width: $mq-md) {
  body {
    background-image: url("../public/images/bg-desktop-light.jpg");
    font-size: $fs-md-body;
  }

  .header {
    padding-top: $size-900;
  }

  .heading-1 {
    font-size: $fs-md-heading;
  }
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $clr-primary-400;
}

a:hover {
  color: $clr-dark-neutral-500;
}
input {
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;

  color: $clr-light-neutral-400;
}

button:hover,
button:focus-within {
  color: $clr-dark-neutral-500;
}

footer {
  font-size: 0.8rem;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  margin-block: auto $size-300;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-container {
  margin: 0 auto;
  width: 90%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.md-up {
  display: none;
}

/* medium screens and up) */
@media (min-width: $mq-md) {
  .sm-only {
    display: none;
  }

  .md-up {
    display: block;
  }
  .flex-container {
    max-width: 50ch;
  }
}

/* TodoFilter */
.todo-footer {
  padding: $size-400;
  color: $clr-light-neutral-400;
}

.todo-filter {
  gap: $size-200;
}

.todo-button-link-active {
  color: $clr-primary-400;
}

.dark {
  background-color: $clr-dark-neutral-700;
  background-image: url("../public/images/bg-mobile-dark.jpg");

  color: $clr-dark-neutral-200;

  button {
    color: $clr-dark-neutral-300;
  }

  a:hover,
  a:focus-within {
    color: $clr-dark-neutral-100;
  }

  button:hover,
  button:focus-within {
    color: $clr-dark-neutral-100;
  }

  .todo-footer {
    color: $clr-dark-neutral-300;
  }

  .todo-button-link-active {
    color: $clr-primary-400;
  }
}

@media (min-width: $mq-md) {
  .dark {
    background-image: url("../public/images/bg-desktop-dark.jpg");
  }
}
