@use "./scss/variables" as *;
@use "./scss/reset" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

/* General styling */

:root {
  --checkbox-border: hsl(235, 19%, 35%);
  --color-primary: hsl(220, 98%, 61%);
  --linear-gradient: linear-gradient(
    150deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --button-text: hsl(236, 9%, 61%);
  --box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);

  &.app--light {
    --background-color: hsl(236, 33%, 92%);
    --text-color: hsl(237, 14%, 26%);
    --background-mobile: url("/images/bg-mobile-light.jpg");
    --background-desktop: url("/images/bg-desktop-light.jpg");
    --background-list: hsl(0, 0%, 98%);
    --hover-color: hsl(235, 19%, 35%);
    --border-color: hsl(234, 39%, 85%);
    --checked-color: hsl(233, 11%, 84%);
  }

  &.app--dark {
    --background-color: hsl(235, 21%, 11%);
    --text-color: hsl(234, 39%, 85%);
    --background-mobile: url("/images/bg-mobile-dark.jpg");
    --background-desktop: url("/images/bg-desktop-dark.jpg");
    --background-list: hsl(235, 24%, 19%);
    --hover-color: hsl(236, 33%, 92%);
    --border-color: hsl(234, 11%, 52%);
    --checked-color: hsl(234, 11%, 52%);
  }
}

body {
  font-family: $font-family;
  font-weight: $fw-regular;
  font-size: $fs-sm-body;
  background-repeat: no-repeat;
  background-position: top;

  line-height: 1;

  background-color: var(--background-color);
  background-image: var(--background-mobile);

  background-size: contain;

  color: var(--text-color);

  @media (min-width: $mq-md) {
    background-image: var(--background-desktop);

    font-size: $fs-md-body;
  }
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}

input {
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
}

button {
  cursor: pointer;
}

a:hover,
button:hover,
button:focus-within {
  color: var(--hover-color);
}

.flex {
  display: flex;
  align-items: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-container {
  margin: 0 auto;
  width: 90%;

  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.md-up {
  display: none;
}

.button-link {
  background: none;
  border: none;
  color: var(--button-text);

  &--active {
    color: var(--color-primary);
  }
}

/* medium screens and up) */
@media (min-width: $mq-md) {
  .sm-only {
    display: none;
  }

  .md-up {
    display: block;
  }
  .flex-container {
    max-width: 50ch;
  }
}
