@use "../../scss/variables" as *;

.todo-item {
  padding: $size-400;
  border-bottom: 1px solid var(--border-color);
  position: relative;

  display: flex;

  &:hover {
    cursor: grab;
  }

  &:first-child:not(.todo-item--dragging) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &--dragging {
    background-color: var(--background-list);
    border: none;
    border-radius: $border-radius;
  }
}
