@import "../variables";

.Checkbox {
  display: block;
  position: relative;
  padding-left: $size-800;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Checkbox:hover {
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: $size-500;
  height: $size-500;
  border: 1px solid $clr-light-neutral-500;
  border-radius: 50%;
}

/* custom checkboxes */

input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
}

.circle[data-checked="true"] {
  background: linear-gradient(
    150deg,
    hsl(192deg, 100%, 67%) 30%,
    hsl(280deg, 87%, 65%) 100%
  );
  border: transparent;
}

.circle[data-checked="true"]::after {
  content: url("../../public/images/icon-check.svg");
  padding: $size-100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
