@import "../variables";
.DeleteButton {
  padding-left: $size-300;
  min-width: 18px;
  min-height: 18px;
  margin-left: auto;
  flex-shrink: 0;
}

@media (min-width: $mq-md) {
  .DeleteButton {
    padding-left: $size-600;
  }

  .TodoItem:hover .DeleteButton {
    display: block;
  }
}
