@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* vars*/
$mq-sm: "400px";
$mq-md: "700px"; /* breakpoint */

$font-family: "Josefin Sans", sans-serif;
$fw-regular: 400;
$fw-bold: 700;

$fs-sm-body: 1rem; /* 18px */
$fs-sm-heading: 28px;

$fs-md-body: 1.125rem; /* 18px */
$fs-md-heading: 30px;

$clr-primary-300: hsl(192, 100%, 67%);
$clr-primary-400: hsl(220, 98%, 61%);
$clr-primary-500: hsl(280, 87%, 65%);

$clr-light-neutral-100: hsl(0, 0%, 98%);
$clr-light-neutral-200: hsl(236, 33%, 92%);
$clr-light-neutral-300: hsl(233, 11%, 84%);
$clr-light-neutral-400: hsl(236, 9%, 61%);
$clr-light-neutral-500: hsl(235, 19%, 35%);

$clr-dark-neutral-100: hsl(236, 33%, 92%);
$clr-dark-neutral-200: hsl(234, 39%, 85%);
$clr-dark-neutral-300: hsl(234, 11%, 52%);
$clr-dark-neutral-400: hsl(233, 14%, 35%); //not used ?
$clr-dark-neutral-500: hsl(237, 14%, 26%);
$clr-dark-neutral-600: hsl(235, 24%, 19%);
$clr-dark-neutral-700: hsl(235, 21%, 11%);

$size-100: 0.575rem;
$size-200: 0.95rem;
$size-300: 1rem;
$size-400: 1.2rem;
$size-500: 1.25rem;
$size-600: 1.5rem;
$size-700: 1.625rem;
$size-800: 2rem;
$size-900: 5rem;

$size-header-desktop: 300px;
$size-header-mobile: 200px;

$border-radius: 0.25rem;

/* CSS Reset https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  font-size: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

body {
  font-family: $font-family;
  font-weight: $fw-regular;
  font-size: $fs-sm-body;
  background-repeat: no-repeat;
  background-position: top;

  line-height: 1;

  background-color: $clr-light-neutral-200;
  background-image: url("../public/images/bg-mobile-light.jpg");
  background-size: contain;

  color: $clr-dark-neutral-500;
}

.header {
  padding-block: 2rem;
}

.heading-1 {
  text-transform: uppercase;
  font-size: $fs-sm-heading;
  font-weight: $fw-bold;
  letter-spacing: $size-100;
  color: #fff;
}

@media (min-width: $mq-md) {
  body {
    background-image: url("../public/images/bg-desktop-light.jpg");
    font-size: $fs-md-body;
  }

  .header {
    padding-top: $size-900;
  }

  .heading-1 {
    font-size: $fs-md-heading;
  }
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $clr-primary-400;
}

a:hover {
  color: $clr-dark-neutral-500;
}
input {
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;

  color: $clr-light-neutral-400;
}

button:hover,
button:focus-within {
  color: $clr-dark-neutral-500;
}

footer {
  font-size: 0.8rem;
  opacity: 0.8;
  width: 100%;
  left: 0;
  text-align: center;
  margin-block: $size-300;
  position: absolute;
  bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.justify-self-end {
  margin-left: auto;
}

.md-up {
  display: none;
}

/* custom checkboxes */

input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: $size-500;
  height: $size-500;
  border: 1px solid $clr-light-neutral-500;
  border-radius: 50%;
}

.checkbox-circle[data-checked="true"] {
  background: linear-gradient(
    150deg,
    hsl(192deg, 100%, 67%) 30%,
    hsl(280deg, 87%, 65%) 100%
  );
  border: transparent;
}

.checkbox-circle[data-checked="true"]::after {
  content: url("../public/images/icon-check.svg");
  padding: $size-100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* medium screens and up) */
@media (min-width: $mq-md) {
  .sm-only {
    display: none;
  }

  .md-up {
    display: block;
  }
  .container {
    max-width: 50ch;
  }
}

/* CreateTodo */
.create-todo {
  background-color: #fff;
  padding: $size-400;

  border-radius: $border-radius;
  position: relative;
}

.create-todo-input {
  background: none;
  margin-left: calc(-1 * $size-100);
  display: block;
  color: $clr-light-neutral-500;
}

/* TodoList */
.todo-list {
  background-color: #fff;
  border-radius: $border-radius;
}

.todo-item {
  background-color: #fff;
  padding: $size-400;
  border-bottom: 1px solid $clr-light-neutral-200;
}

.todo-item-dragging {
  border: none;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: $size-800;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container:hover {
  cursor: pointer;
}

.todo-text {
  vertical-align: middle;
}

.todo-text:hover {
  cursor: pointer;
}

.todo-text-checked {
  text-decoration: line-through;
  color: $clr-light-neutral-300;
}

.button-delete {
  padding-left: $size-600;
}

@media (min-width: $mq-md) {
  .todo-item:hover .button-delete {
    display: block;
  }
}

/* TodoFilter */
.todo-footer {
  padding: $size-400;
  color: $clr-light-neutral-400;
}

.todo-filter {
  gap: $size-200;
}

.todo-button-link-active {
  color: $clr-primary-400;
}

.dark {
  background-color: $clr-dark-neutral-700;
  background-image: url("../public/images/bg-mobile-dark.jpg");

  color: $clr-dark-neutral-200;

  button {
    color: $clr-dark-neutral-300;
  }

  a:hover, a:focus-within {
    color: $clr-dark-neutral-100;
  }

  button:hover,
  button:focus-within {
    color: $clr-dark-neutral-100;
  }

  .checkbox-circle {
    border: 1px solid $clr-dark-neutral-500;
  }

  .create-todo {
    background-color: $clr-dark-neutral-600;
  }

  .create-todo-input {
    color: $clr-dark-neutral-200;
  }

  .todo-list {
    background-color: $clr-dark-neutral-600;
  }

  .todo-item {
    background-color: $clr-dark-neutral-600;
    border-bottom: 1px solid $clr-dark-neutral-300;
  }

  .todo-item-dragging {
    border: none;
  }
  .todo-text-checked {
    color: $clr-dark-neutral-300;
  }

  .todo-footer {
    color: $clr-dark-neutral-300;
  }

  .todo-button-link-active {
    color: $clr-primary-400;
  }
}

@media (min-width: $mq-md) {
  .dark {
    background-image: url("../public/images/bg-desktop-dark.jpg");
  }
}
