$mq-sm: "400px";
$mq-md: "700px";

$font-family: "Josefin Sans", sans-serif;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

$fs-sm-body: 1rem;
$fs-sm-heading: 1.75rem;
$fs-md-body: 1.125rem;
$fs-md-heading: 1.875rem;
$fs-footer: 0.8rem;

$size-100: 0.575rem;
$size-200: 0.95rem;
$size-300: 1rem;
$size-400: 1.2rem;
$size-500: 1.25rem;
$size-600: 1.5rem;
$size-700: 1.625rem;
$size-800: 2rem;
$size-900: 5rem;

$size-header-desktop: 300px;
$size-header-mobile: 200px;

$border-radius: 0.25rem;
